body{
    margin: 0px;

}
.top-banner{
    background-image: url(images/donation13.jpg);
    height: 15cm;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    color: white;
    text-align: center;
    padding: 5%;
}
.link-batton{
    text-decoration: none;
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;


}
.donate-now-section{
    margin: auto;
    text-align: center;


}
.donate-value{
    float: left;
    text-align: center;
}
.amount-box{
    width: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-left: 500px;
    padding: 10px;
    column-gap:10px;
}
.box{
    background-color: rgb(247, 244, 242);
    padding: 5px 10px;

}
.box h3{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;

}
#box2{
    background-color: rgb(236, 166, 166);
    border: 1px solid red;
    color: red;
}
.orther-amount{
    text-align: center;
    padding-top: 30px;
}
.box-contant{
    margin-top: 152px;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
}
#box-left{
    background-color:rgb(196, 214, 33);
    width: 33.33%;
    height: 300px;
    float: left;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
}
#box-center{
    background-color:rgb(14, 204, 46);
    width: 33.33%;
    height: 300px;
    float:right;
    align-content: center;
    

}
#box-right{
    background-color:rgb(144, 179, 135);
    width: 33.33%;
    height: 300px;
    margin: 0 auto;
    align-content: center;
}
.content-img{
    display:flex;
    padding: 30px;

}
.half-width{
    width: 50%;
    padding: 5%;

}
.half-width img{
    width: 100%;
    padding-right: 70px;
}
.helf-width h1{
    font-size: 20px;
    font-weight: 800;
}
.update-section{
    text-align: center;
}
.email-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;

}
.form-box{
    margin-top: 2px;
    padding: 10px;
    border-radius: 5px;
    background color: rgb(226, 185, 185);
    box-shadow: 8px 8px 12px;
    
}
.from-box input{
    font-size: 16px;
    color: #000;
    padding: 15px 10px;
    border: none;
    outline: none;
    background color: rgb(206, 163, 163);

}
.from-box button{
    color: rgb(233, 102, 102);
    padding: 15px 20;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(191, 191, 236);
    cursor: pointer;

}
footer{
    text-align: center;
    background-color: black;
    margin-top: 20px;
}
.footer-{
    color: rgb(119, 25, 207);
}