body{
    margin: 0px;

}
.top-banner{
    background-image: url(images/donation13.jpg);
    height: 15cm;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    color: white;
    text-align: center;
    padding: 5%;
}
.link-batton{
    text-decoration: none;
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;


}
.donate-now-section{
    margin: auto;
    text-align: center;

}